In [ ]:
#                                     Case Study- 1
''' I am having a dataset and I do not have any clue of what all information can I
    get out of it. Now please help me exploring few questions?'''

#                     Questions I am having are as follows:
#1 How many employees are there by department in the dataset?
#2 Is the attrition number more than the retention?
#3 What is the average hourly rate?
#4 What is the average number of years spent by an associate at the company?
#5 Who are the 5 employees with the most number of years in the company?
#6 Does having the same manager for many years makes attrition low?
#7 Is upskilling the associates making the company loose them?

In [1]:
import pandas as pd
data = pd.read_excel('HR-Employee-Attrition.xlsx')

In [2]:
data

,Age,Attrition,Department,EmployeeCount,EmployeeNumber,Gender,HourlyRate,JobRole,JobSatisfaction,MaritalStatus,...,PercentSalaryHike,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,1,1,Female,94,Sales Executive,4,Single,...,11,3,80,0,8,0,6,4,0,5
1,49,No,Research & Development,1,2,Male,61,Research Scientist,2,Married,...,23,4,80,1,10,3,10,7,1,7
2,37,Yes,Research & Development,1,4,Male,92,Laboratory Technician,3,Single,...,15,3,80,0,7,3,0,0,0,0
3,33,No,Research & Development,1,5,Female,56,Research Scientist,3,Married,...,11,3,80,0,8,3,8,7,3,0
4,27,No,Research & Development,1,7,Male,40,Laboratory Technician,2,Married,...,12,3,80,1,6,3,2,2,2,2
5,32,No,Research & Development,1,8,Male,79,Laboratory Technician,4,Single,...,13,3,80,0,8,2,7,7,3,6
6,59,No,Research & Development,1,10,Female,81,Laboratory Technician,1,Married,...,20,4,80,3,12,3,1,0,0,0
7,30,No,Research & Development,1,11,Male,67,Laboratory Technician,3,Divorced,...,22,4,80,1,1,2,1,0,0,0
8,38,No,Research & Development,1,12,Male,44,Manufacturing Director,3,Single,...,21,4,80,0,10,2,9,7,1,8
9,36,No,Research & Development,1,13,Male,94,Healthcare Representative,3,Married,...,13,3,80,2,17,3,7,7,7,7
10,35,No,Research & Development,1,14,Male,84,Laboratory Technician,2,Married,...,13,3,80,1,6,5,5,4,0,3
11,29,No,Research & Development,1,15,Female,49,Laboratory Technician,3,Single,...,12,3,80,0,10,3,9,5,0,8
12,31,No,Research & Development,1,16,Male,31,Research Scientist,3,Divorced,...,17,3,80,1,5,1,5,2,4,3
13,34,No,Research & Development,1,18,Male,93,Laboratory Technician,4,Divorced,...,11,3,80,1,3,2,2,2,1,2
14,28,Yes,Research & Development,1,19,Male,50,Laboratory Technician,3,Single,...,14,3,80,0,6,4,4,2,0,3
15,29,No,Research & Development,1,20,Female,51,Manufacturing Director,1,Divorced,...,11,3,80,1,10,1,10,9,8,8
16,32,No,Research & Development,1,21,Male,80,Research Scientist,2,Divorced,...,12,3,80,2,7,5,6,2,0,5
17,22,No,Research & Development,1,22,Male,96,Laboratory Technician,4,Divorced,...,13,3,80,2,1,2,1,0,0,0
18,53,No,Sales,1,23,Female,78,Manager,4,Married,...,16,3,80,0,31,3,25,8,3,7
19,38,No,Research & Development,1,24,Male,45,Research Scientist,4,Single,...,11,3,80,0,6,3,3,2,1,2
20,24,No,Research & Development,1,26,Female,96,Manufacturing Director,3,Divorced,...,18,3,80,1,5,5,4,2,1,3
21,36,Yes,Sales,1,27,Male,82,Sales Representative,1,Single,...,23,4,80,0,10,4,5,3,0,3
22,34,No,Research & Development,1,28,Female,53,Research Director,2,Single,...,11,3,80,0,13,4,12,6,2,11
23,21,No,Research & Development,1,30,Male,96,Research Scientist,4,Single,...,14,3,80,0,0,6,0,0,0,0
24,34,Yes,Research & Development,1,31,Male,83,Research Scientist,1,Single,...,11,3,80,0,8,2,4,2,1,3
25,53,No,Research & Development,1,32,Female,58,Manager,3,Divorced,...,11,3,80,1,26,3,14,13,4,8
26,32,Yes,Research & Development,1,33,Female,72,Research Scientist,1,Single,...,22,4,80,0,10,5,10,2,6,7
27,42,No,Sales,1,35,Male,48,Sales Executive,2,Married,...,11,3,80,1,10,2,9,7,4,2
28,44,No,Research & Development,1,36,Female,42,Healthcare Representative,4,Married,...,14,3,80,1,24,4,22,6,5,17
29,46,No,Sales,1,38,Female,83,Manager,1,Single,...,12,3,80,0,22,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Research & Development,1,2025,Female,97,Manufacturing Director,2,Divorced,...,13,3,80,3,18,3,4,2,0,2
1441,56,No,Research & Development,1,2026,Male,57,Healthcare Representative,3,Divorced,...,21,4,80,1,13,2,13,12,1,9
1442,29,Yes,Research & Development,1,2027,Male,36,Research Scientist,4,Married,...,14,3,80,3,4,3,2,2,2,2
1443,42,No,Research & Development,1,2031,Male,56,Manager,3,Married,...,11,3,80,0,24,2,22,6,4,14
1444,56,Yes,Research & Development,1,2032,Male,72,Laboratory Technician,3,Married,...,11,3,80,1,14,4,10,9,9,8
1445,41,No,Research & Development,1,2034,Female,60,Manufacturing Director,2,Married,...,23,4,80,1,21,3,20,7,0,10
1446,34,No,Sales,1,2035,Female,95,Sales Executive,3,Married,...,21,4,80,2,8,2,8,7,1,7
1447,36,No,Sales,1,2036,Male,88,Sales Executive,4,Divorced,...,24,4,80,1,15,4,15,12,11,11
1448,41,No,Sales,1,2037,Male,57,Sales Executive,2,Divorced,...,11,3,80,1,14,5,5,4,0,4
1449,32,No,Research & Development,1,2038,Male,78,Research Scientist,1,Single,...,14,3,80,0,4,4,4,2,1,2
1450,35,No,Human Resources,1,2040,Female,31,Human Resources,4,Single,...,16,3,80,0,9,2,9,0,1,7
1451,38,No,Sales,1,2041,Female,100,Sales Executive,4,Married,...,11,3,80,1,10,1,10,7,1,9
1452,50,Yes,Sales,1,2044,Male,94,Sales Executive,3,Divorced,...,12,3,80,2,12,3,6,3,0,1
1453,36,No,Sales,1,2045,Female,100,Sales Executive,4,Married,...,13,3,80,1,8,2,6,3,0,0
1454,45,No,Sales,1,2046,Female,50,Sales Executive,3,Single,...,15,3,80,0,8,3,5,3,0,1
1455,40,No,Research & Development,1,2048,Male,52,Research Scientist,3,Single,...,14,3,80,0,8,2,2,2,2,2
1456,35,No,Research & Development,1,2049,Male,80,Healthcare Representative,3,Married,...,14,3,80,2,10,2,10,2,0,2
1457,40,No,Research & Development,1,2051,Female,98,Research Scientist,3,Married,...,14,3,80,3,20,2,5,3,0,2
1458,35,No,Research & Development,1,2052,Female,62,Research Scientist,4,Married,...,12,3,80,1,4,5,4,3,1,1
1459,29,No,Research & Development,1,2053,Male,46,Laboratory Technician,2,Married,...,13,3,80,1,10,2,4,3,0,3
1460,29,No,Research & Development,1,2054,Female,73,Research Scientist,1,Single,...,14,3,80,0,5,3,5,4,0,4
1461,50,Yes,Sales,1,2055,Male,39,Sales Executive,1,Divorced,...,13,3,80,1,20,3,3,2,2,0
1462,39,No,Sales,1,2056,Female,60,Sales Executive,4,Married,...,11,3,80,1,21,2,20,9,9,6
1463,31,No,Research & Development,1,2057,Male,74,Manufacturing Director,1,Single,...,19,3,80,0,10,2,9,4,1,7
1464,26,No,Sales,1,2060,Female,30,Sales Representative,3,Single,...,18,3,80,0,5,2,4,2,0,0
1465,36,No,Research & Development,1,2061,Male,41,Laboratory Technician,4,Married,...,17,3,80,1,17,3,5,2,0,3
1466,39,No,Research & Development,1,2062,Male,42,Healthcare Representative,1,Married,...,15,3,80,1,9,5,7,7,1,7
1467,27,No,Research & Development,1,2064,Male,87,Manufacturing Director,2,Married,...,20,4,80,1,6,0,6,2,0,3
1468,49,No,Sales,1,2065,Male,63,Sales Executive,2,Married,...,14,3,80,0,17,3,9,6,0,8
1469,34,No,Research & Development,1,2068,Male,82,Laboratory Technician,3,Married,...,12,3,80,0,6,3,4,3,1,2