#                             Functions
## Background for functions:
Basic math -> y = f(x)
## so over here the f is a function.

## Some features that we should keep in mind:
*  Function does not have any memory. After opening the new session we cannot call the old function.
*  While defining a function whatever argument we have given, the results will remain the same.That means even 
     after running the function for 50 times output will not change.  # are we having any exceptional function????
*  Functions are Objects1, this means we can assign a function to a new variable.

In [ ]:
#  Compartmentalize codes: to write codes in such a way that the sections can be reused either in the same program 
                           or in the different programs.
def is the keyword.
def name:    ->here name is nothing but the name of the function.
    
def name()  -> these parenthesis are for the arguments.

anything that a function does will be indented under the function defination.

def Ketty():
    print("woow")
    return

In [ ]:
def baba():
    #always a good idea to put a mark before the function
    
code does not get executed until we just call the function by its name.

In [1]:
# CASE1- starting with the simple functions 
# simple functions:  Has got the function definition and the function call
def hello():
    # greeting hi in punjabi
    print('sat shree akal')
    return

In [2]:
hello()        # simple function would simply recall what has been predefined.

sat shree akal

In [5]:
# CASE2 - Required argument functions
def kufupanda(str):
    # recommending a course in Times Pro.
    print("What about the courses in Times Pro? ", str)
    return
# what will happen? Any string that we would pass will will be assigned to a variable str. This is called a required argument
#function beacuse the argument is required. If we do not provide an argument then we get an error.

In [4]:
kufupanda('Courses are good,but Python for Data Analysis is taken by a jerk!!')

What about the courses in Times Pro?  Courses are good,but Python for Data Analysis is taken by a jerk!!

In [8]:
# CASE3 - Calculation using the arguments
def cost_per_class(money,hours):
    # calculating the cost per hour
    letscheckout = money//hours
    print(letscheckout)
    return

In [9]:
# we are calling the given argument

cost_per_class(200000,288)

#   Few things to notice here:
#1 - If we will not call the argument then we will get an error. Any guess what will be the error type?
#2 - Ordering of the arguments has to be perfectly aligned with the function definition. Hence please be cautious about 
#      the arguments.

694

In [61]:
# CASE4 - 'Key-word argument function' 

#In a function o Pretty useful, though I do not see people using it often.
#In the upper example while calling the functin in case of arguments I have to take care of the ordering. Now key-word makes a
#great sense in this regards.
cost_per_class(hours = 288, money = 200000) 
# as ordering will not be our concern now. This is an added advantage. But as I said before, I have seen very less cases  
# of people writing these functions.

694

In [64]:
# CASE5 -  Defalut Function argument
# Out of the total number of arguments we have set, we could fix any of the arguments while definining the function itself.
# it is useful just in one case, if the user does not define a parameter, it will automatically define the parameter.

def great_going(name = "", gender = "MALE", occupation = ""):
    print("Name:",  name)
    print("Gender:", gender)
    print("Occupation:", occupation)
    return

In [65]:
great_going(name ="Roger Federer", occupation = "A legendry Tennis star")

# This cell has run succesfully just because we had provided the default argument for the gender.

Name: Roger Federer
Gender: MALE
Occupation: A legendry Tennis star

In [ ]:
'''  Why 'return', why not just the print":  To make the function truly portable. That means I should be able to use them 
        in different environments. When I am printing the results of the function then it does not become portable. Hence
        retrun statement would come in handy. Just because of this we use the return statement.'''

### Uniqueness about functions: It does not get executed where it is being written rather at place where it is called later.

## How to apply the python function on a dataframe

In [38]:
import pandas as pd
df = pd.DataFrame({"one" : [12,32,44,56], "two" : [23,44,32,0], "three" : ["in","two","three","four"]})

In [41]:
def func(x):
    if x > 25:
        return x

In [39]:
def num(x):
    return x.upper()

In [44]:
df["six"] = df["two"].apply(func)

In [45]:
df

   one  two  three   six
0   12   23     in   NaN
1   32   44    two  44.0
2   44   32  three  32.0
3   56    0   four   NaN

In [50]:
df["three"].apply(lambda x : x.upper())

0       IN
1      TWO
2    THREE
3     FOUR
Name: three, dtype: object