<div class="alert alert-info">
*Objective of this sheet*
</div>

* concatenating
* merging
* reshaping (pivoting)

In [ ]:
import pandas as pd

In [ ]:
# 1 Concatenating : the pandas.concat( ) function concatenates the objects along an axis.
NZ_population = pd.DataFrame({
        'city': ['Auckland','Wellington','Hamilton'],
        'population' : [1534700,412500,235900],
        'density': [1413,929,269]
    })
NZ_population

In [ ]:
AUS_population = pd.DataFrame({
        'city': ['Sydney','Melbourne','Perth'],
        'population' : [5029768,4725316,2022044],
        'density': [1900 ,1500,1000 ]
    })
AUS_population

In [ ]:
# for concatenation we have to just pass the dataframe objects, here we have two, but even can be more then that
con = pd.concat([NZ_population, AUS_population])
con

In [ ]:
# if we will have a look at the above index, we can see above the index are taken what were originally,
# now we will make it a continous index continous index
df = pd.concat([NZ_population, AUS_population], ignore_index = True)
df

In [ ]:
# now to retrive a particular data from the dataframe, e.g I want to retreve Australia data
dif = pd.concat([NZ_population, AUS_population], keys=['NZ','AUS'])
dif
# now it has created an additional index for a subset of a datframe

In [ ]:
# it will be helpful to retrieve a subset of a dataframe
dif.loc['AUS']

# so to get the orignal dataframe back it is a good choice

In [ ]:
#  If we just want to concatenate column wise,then  
NZ_population = pd.DataFrame({
        'city': ['Auckland','Wellington','Hamilton'],
        'population' : [1534700,412500,235900]})
NZ_population

In [ ]:
AUS_population = pd.DataFrame({
        'city': ['Sydney','Melbourne','Perth'],
        'population' : [5029768,4725316,2022044] })
AUS_population

In [ ]:
# this is how we can concate columns wise
df1 = pd.concat([NZ_population,AUS_population], axis = 1)
df1

In [ ]:
# we can also join the dataframe with a series, now down temperature_df is my dataframe
AUS_population

In [ ]:
# now we are creating a series
s = pd.Series([1900 ,1500,1000 ], name = 'density')
s

In [ ]:
#so down we have added series to the  dataframe
pd.concat([AUS_population, s], axis = 1)

In [ ]:
#2 MERGE DataFrame : the pandas.merge( ) function connects the rows in a DataFrame based on keys it implements join operations. 
AUS_population = pd.DataFrame({
        'city': ['Sydney','Melbourne','Perth'],
        'population' : [5029768,4725316,2022044]})
AUS_population

In [ ]:
AUS_density = pd.DataFrame({
        'city': ['Sydney','Melbourne','Perth','Adelaide'],
'density': [1900 ,1500,1000,1300 ]})
AUS_density

In [ ]:
# now we want to join these two dataframes by merge function
data = pd.merge(AUS_population,AUS_density ,right_on = 'city', left_on = 'city')
data
# it is better then concat, because it is looking the values in the cities and then merging
# inner join is by defauklt, we can also use outer, left or right as well

In [ ]:
# in the same way here we have used the left join
data = pd.merge(AUS_population,AUS_density ,on = 'city', how = 'left')
data
# if we will write here the right join then Adelade will come.

In [ ]:
#  in the same way here we have used the outer join, here we are setting the data first.
NZ_population = pd.DataFrame({
        'city': ['Auckland','Wellington','Hamilton'],
        'population' : [1534700,412500,235900],
        'density': [1413,929,269]
    })
NZ_population

In [ ]:
AUS_population = pd.DataFrame({
        'city': ['Sydney','Melbourne','Perth'],
        'population' : [5029768,4725316,2022044],
        'density': [1900 ,1500,1000 ]
    })
AUS_population

In [ ]:
#df3 = pd.merge(NZ_population,AUS_population,on='city', how = 'outer')

## here suffixes will come handy, it will distinguish between the two columns 
df3 = pd.merge(NZ_population,AUS_population,on='city', how = 'outer', suffixes=('_left','_right'))

df3

In [ ]:
#3                                           Pivot tables
df =pd.read_excel('pivo.xlsx')
df

In [ ]:
# pivot functions arguments 

df2 = df.pivot_table(index='date', columns='city', values = 'humidity')
df2

# we can see three things written above i.e. index, columns and values:
# index : what I want on 'X' axis or as rows?
# columns: what do I want to present in the columns? 
# values: what data I want to present?
# mean is the default function that comes!

# In pivot method: the columns shold have most number of unique values.
# condensing the dataframe by aligning the common values.

In [ ]:
# Why pivot table?  Pivot table is used to summarize and aggregate data inside dataframe

df =pd.read_excel('pitab.xlsx')
df

In [ ]:
# we have aggregated the input dataframe into meaningful output: we can use any number of functions
df.pivot_table(index='city', columns = 'date', aggfunc='mean')

# aggfunc can be anything like mean,sum, median etc

In [ ]:
# seing another example of using the pivot in Python.
import seaborn as sns

In [ ]:
# loading the dataset for the using purpose. This entire data is related to the TITANIC ship.
titanic = sns.load_dataset('titanic')

In [ ]:
# How many people survived the attack?
titanic.pivot_table(values = 'survived', index='sex', columns='class', aggfunc = 'mean')

In [ ]:
# MULTILEVEL PIVOT TABLES :  cut here means bining 
# binning :  Binning or discretization is the process of transforming numerical variables into categorical counterparts.
# An example is to bin values for Age into categories such as 20-39, 40-59, and 60-79. Numerical variables are usually 
#discretized in the modeling methods 
age = pd.cut(titanic['age'], [0,18,80])
titanic.pivot_table(values = 'survived', index =  ['sex', age], columns = ['class'])

###                                                      Exercise

##### Q1 Please rerun the cells and try to understand the logic.

##### Q2 Please tell the difference between pivot and the groupby. When which technique should be used?

###### Q3 What is the default join of the concatenation?